// Add your custom CSS here.
@media(max-width: 767px) {
#main {
    overflow-x: hidden !important;
  }
  .header {
    position: fixed;
    top: 29px
  }
  .banner-slider {
    margin-top: 86px;
  }
  .top-bar {
    position: fixed;
    top: 0;
    z-index: 900;
    }
}
#cashback {
  padding: 15px;
  //width: 50%;
  border-radius: 10px;
  /*border-color:rgb(40, 167, 69);
  border-width: 1px;
  border-style: solid;*/
  background-color:#e1ffce
}
#dinheiro-volta strong, .dinheiro {
  text-transform: uppercase;
  font-size: 20px;
  color: rgb(40, 167, 69);
}

.cookieconsent {
  position: fixed;
  bottom: 0;
  padding: 1rem .5rem;
  background-color: #fff;
  box-shadow: 0 0 40px 0 rgba(0,0,0,.68);
  z-index: 999;
  width:100%;
  margin: 0 auto;

  .text {
    color: #4D4D4D;
    font-size: 14px;
  }

  button {
    &:hover {
      background: #3d3935;
      color: #ffffff;
    }
    color: #fff;
    font-weight: 700;
    display: block;
    white-space: nowrap;
    text-transform: uppercase;
    padding: 10px 15px;
    font-size: 12px;
    border: 1px solid #30753d;
    background: #30753d;
    border-radius: 0;
    outline: none;
    transition:all .2s
  }

  .row{
    display:flex;
    align-items:center;
  }
}

@media (max-width: 991.98px) {
  .cookieconsent .product-buy-button {
    margin-top: 15px;
    width: 100%;
    }
    
    .cookieconsent button {
    background: #fff;
    border: 1px solid #3d3935;
    color: #3d3935;
    }
}


